@import '../defines/base';

.login-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  flex: 1;
}

.login.card {
  display: flex;
  padding: 8px 16px;

  > .login-form, .finish-signup-form {
    > .button-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      > section {
        display: flex;
        flex-direction: column;
        > a {
          padding: 4px 8px;
        }
      }
      > button {
        margin-left: 8px;
      }
    }
  }

  > .finish-signup-form > header {
    font-weight: bold;
    font-size: 140%;
    margin-bottom: 8px;
  }

  .divider {
    margin: 12px;
    width: 1;
    background-color: $cardBorder;
  }

  .providers {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    > button, > a {
      margin-bottom: 8px;
    }
  }
}

.login-spacer-before {
  flex: 1;
}

.login-spacer-after {
  flex: 3;
}
